# 03.4 Data consistency check on orders_products_prior

### This script contains the following points:
### 1. Import libraries and files
### 2. Check for mixed data types
### 3. Check for missing values
### 4. Check for duplicates
### 5. Report number of records in dataframe

### 1. Import libraries and files

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [16]:
# Import csv file, path shortcut not working without error
df_ords_prods = pd.read_csv(r'C:\Users\dsadl\OneDrive\Documents\Career Foundry\Data Immersion\Project 4\05-10-2023 Instacart Basket Analysis\02 Data\Original Data\order_products__prior.csv')

In [17]:
df_ords_prods.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

### 2. Check for mixed data types

In [18]:
# Check for mixed types
for col in df_ords_prods.columns.tolist():
  weird = (df_ords_prods[[col]].applymap(type) != df_ords_prods[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords_prods[weird]) > 0:
    print (col)

#### No mixed data types found

### 3. Check for missing values

In [19]:
# Check for missing values
df_ords_prods.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

#### No missing values detected

### 4. Check for duplicates

In [21]:
df_dups = df_ords_prods[df_ords_prods.duplicated()]

In [22]:
df_dups

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

#### No full duplicates were found

### 5. Report number of records in dataframe

In [23]:
df_ords_prods.shape

(32434489, 4)