# 03.6 Combining and exporting data

### This script contains the following points:
#### 1. Import libraries and files
#### 2. Check the dimensions of the imported dataframe
#### 3. Merge the dataframes
#### 4. Use the indicator argument to check whether there was a full match between the two dataframes
#### 5. Export data to pkl file

### 1. Import libraries and files

In [12]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [10]:
# Import csv files
path = r'C:\Users\dsadl\OneDrive\Documents\Career Foundry\Data Immersion\Project 4\05-10-2023 Instacart Basket Analysis'

In [45]:
df_ords= pd.read_csv(os.path.join(path,'02 Data', 'Prepared Data', 'orders_checked.csv'))

In [36]:
# Entered without path shortcut because it kept returning an error 
df_ords_prior = pd.read_csv(r'C:\Users\dsadl\OneDrive\Documents\Career Foundry\Data Immersion\Project 4\05-10-2023 Instacart Basket Analysis\02 Data\Original Data\order_products__prior.csv')

### 2. Check the dimensions of the imported dataframe

In [46]:
# Check the output
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [37]:
# Check the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [47]:
df_ords.shape

(3421083, 7)

In [40]:
df_ords_prior.shape

(32434489, 4)

### 3. Merge the dataframes

In [48]:
# Merge the 2 dataframes on the "order_id" column
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [49]:
# Check the output
df_merged_large.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [50]:
df_merged_large.shape

(32434489, 11)

### 4. Use the indicator argument to check if there was a full match between the two dataframes

In [51]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

### 5. Export data to pkl file

In [52]:
# Export data to pkl
df_merged_large.to_pickle(os.path.join(path,'02 Data','Prepared Data','orders_products_combined.pkl'))